.theme-switcher__button:focus-visible {
    outline: none;
    border: 1px solid var(--focus-color);
  }
  
  .theme-switcher__button {
    padding: 3px 5px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    animation: shadow-scale 3s infinite;
    outline: none;
    border: 1px solid var(--block-child-border-color);
    background-color: var(--block-child-background);
    background: none;
  }
  .theme-switcher__button>svg {
    transition: .3s;
  }
  .theme-switcher__button:hover svg {
    transform: scale(1.1);
  }
  
  @keyframes shadow-scale {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.20);
    }
  
    50% {
      box-shadow: 0 0 15px rgba(247, 244, 214, 0.30);
    }
  
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.20);
    }
  }
  