<div class="users-page__header">
  <p>Админы</p>
  <button (click)="onAddAdminBtn()">Добавить админа</button>
</div>

<div class="users-page__content">
  <div class="users-page__table-wrapper">
    <app-table
      [columnHeaders]="['ID', 'Имя', 'Активен', 'Дата рождения', 'Дата создания']"
      [data]="tableData"
      (rowClick)="onAdminSelect($event)">
    </app-table>
  </div>

  <aside class="users-page__aside">
    <app-add-admin-form *ngIf="asideIndex == 1" (adminAdded)="onAdminAdded()" />
    <app-edit-admin-form
      *ngIf="asideIndex == 2"
      [selectedAdmin]="selectedAdmin"
      (adminUpdated)="onAdminUpdated($event)" />
  </aside>
</div>
