table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  font-size: 17px;
}

th {
  background-color: var(--block-background);
}

td {
  background-color: var(--block-child-background);
  text-align: center;
}

tbody tr:hover td {
  background-color: rgba(61, 83, 209, 0.767) !important;
  cursor: pointer;
  transition: .1s;
}

  .black{
    td{
      animation: black 1s infinite alternate-reverse ease-in-out;
    }
  }

  .admin{
    p{
      border-radius: 9px;
      text-align: center;
      background-color: red;
    }
  }

  .student{
    p{
      border-radius: 9px;
      text-align: center;
      background-color: yellow;
    }
  }
  .studentAdmin{
    p{
      border-radius: 9px;
      text-align: center;
      background-color: greenyellow;
    }
  }

  .empty{
    p{
      border-radius: 9px;
      text-align: center;
      background-color: violet;
    }
  }

  .tudasuda{
    animation: tudasuda .15s infinite alternate-reverse ease-in-out;
  }
  .sudatuda{
    animation: sudatuda .15s infinite alternate-reverse ease-in-out;
  }

@keyframes black {
  from{
    
  }
  to{
    background-color: rgba(136, 136, 136, 0.651);
  }
}

@keyframes tudasuda {
  from{
    transform: translateX(.03rem) rotate(1.5deg) translateY(-.03rem);
  }
  to{
    transform: translateX(-.03rem) rotate(-1.5deg) translateY(.03rem);
  }
}

@keyframes sudatuda{
  from{
    transform: translateX(-.03rem) rotate(-1.5deg) translateY(.03rem);
  }
  to{
    transform: translateX(.03rem) rotate(1.5deg) translateY(-.03rem);
  }
}