.light-theme {
    color-scheme: light;
    --background-color: rgb(236, 236, 236);
    --block-background: white;
    --block-border-color: rgb(235, 235, 235);
  
    --block-text: #d8dde2;
    --text-color: #010409;
  
    --block-child-background: rgb(236, 236, 236);
    --block-child-background-hover: rgb(221, 221, 221);
    --block-child-border-color: #1c2430;
  
    /*scrollbar*/
    --scrollbar-track: #f0f0f0;
    --scrollbar-thumb: #c0c0c0;
    --scrollbar-thumb-border: #f0f0f0;
    --scrollbar-thumb-hover: #a0a0a0;
  }
  
  .dark-theme {
    color-scheme: dark;
    --background-color: #0d1117;
    --block-background: #010409;
    --block-border-color: rgb(5, 10, 17);
  
    --block-text: #0d1117;
    --text-color: #dae0e6cb;
  
    --block-child-background: #21262d;
    --block-child-background-hover: #1e2229;
    --block-child-border-color: #30363d;
  
    /*scrollbar*/
    --scrollbar-track: #080a0f;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-border: #121518;
    --scrollbar-thumb-hover: #777;
  }

  .rizhi-theme{
    --background-color: #FF7C00;
    --block-background: #BF7630;
    --block-border-color: rgb(5, 10, 17);
  
    --block-text: #FFB773;
    --text-color: white;
  
    --block-child-background: #FF9D40;
    --block-child-background-hover: #A65100;
    --block-child-border-color: #30363d;
  
    /*scrollbar*/
    --scrollbar-track: #080a0f;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-border: #121518;
    --scrollbar-thumb-hover: #777;
  }