.main-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;
  padding: 1rem;
  border-bottom: 1px solid var(--block-border-color);
  color: var(--color-indigo-500);
  background: var(--block-background);
}

.main-header__logo-contain {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header__logo-contain>h1 {
  color: var(--color-indigo-500);
  font-family: 'Open Sans 700', sans-serif;
}

.nav {

  display: flex;
  height: inherit;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
}