.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  .nav-list>li>a {
    text-decoration: none;
    color: var(--color-indigo-500);
    font-size: 18px;
    transition: .3s;
  }
  .nav-list li>a:hover {
    color: rgb(48, 63, 159);
  }